<nav class="app-nav">
  <ul>
    <li>
      <a href="Inicio" class="active"> <mat-icon>home</mat-icon> Inicio </a>
    </li>
    <li>
      <a href="#"> <mat-icon>list</mat-icon> Mis listas </a>
    </li>
    <li>
      <a href="#"> <mat-icon>watch_later</mat-icon> Wishlist </a>
    </li>
    <li>
      <a href="#"> <mat-icon>sports_esports</mat-icon> Played </a>
    </li>
    <li>
      <a href="#"> <mat-icon>people_alt</mat-icon> Amistades </a>
    </li>
    <li>
      <a href="#"> <mat-icon>share</mat-icon> Actividad </a>
    </li>
    <li>
      <a><mat-icon>exit_to_app</mat-icon><button>Cerrar sesion</button></a>
    </li>
  </ul>
</nav>
