<nav class="app-nav table-responsive">
  <ul class="nav-horizontal">
    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/"> <mat-icon>home</mat-icon> Inicio </a>
    </li>

    <li routerLinkActive="active-link">
      <a routerLink="/Mis-Listas"> <mat-icon>list</mat-icon> Mis listas </a>
    </li>

    <li routerLinkActive="active-link">
      <a routerLink="/WishList"> <mat-icon>watch_later</mat-icon> Wishlist </a>
    </li>

    <li routerLinkActive="active-link">
      <a routerLink="/PlayedList"> <mat-icon>sports_esports</mat-icon> Played </a>
    </li>

    <li routerLinkActive="active-link">
      <a routerLink="/Amistades"> <mat-icon>people_alt</mat-icon> Amistades </a>
    </li>
    <li>
      <a href="#"> <mat-icon>share</mat-icon> Actividad </a>
    </li>
    <li>
      <a>
        <mat-icon>exit_to_app</mat-icon>
        <button (click)="logout()">Cerrar sesion</button>
      </a>
    </li>
  </ul>
</nav>
