<div class="dialog-container">
  @if (data.method === 'deleteCustomList') {
    <label mat-dialog-content>{{ data.message }}</label>
    <div mat-dialog-actions class="d-flex gap-5 mt-4">
      <button class="cancel-button" mat-button (click)="closeDialog()">Cancelar</button>
      <button class="accept-button" mat-button (click)="executeAction()">Aceptar</button>
    </div>
  } @else if (data.method === 'searchVideogames') {
    <div class="videogame-search">
      <app-videogame-filter
        (filterVideogameEvent)="searchFilterVideogame($event)"
        (clearVideogames)="clearFilters($event)"
      ></app-videogame-filter>
      <div class="games-grid">
        @for (videogame of videogames; track videogame.id) {
          <button (click)="addVideogameTag(videogame)" class="game-card">
            <img [src]="videogame.imagen" alt="Videogame Image" />
          </button>
        }
      </div>
      <app-paginator (pageChange)="nextPage($event)" [totalPages]="totalPages"></app-paginator>
    </div>
  } @else if (data.method === 'logout') {
    <label mat-dialog-content>{{ data.message }}</label>
    <div mat-dialog-actions class="d-flex gap-5 mt-4">
      <button class="cancel-button" mat-button (click)="closeDialog()">No</button>
      <button class="accept-button" mat-button (click)="logout()">Si</button>
    </div>
  } @else if (data.method === 'rateVideogame') {
    <div class="rate-videogame-container">
      <label mat-dialog-content>Indica la puntuación</label>
      <p-rating [(ngModel)]="value"></p-rating>
      <label class="mt-2" mat-dialog-content>Indica un comentario (opcional)</label>
      <textarea class="mt-2 text-rate" [(ngModel)]="comment"></textarea>

      @if (showErrorMessage) {
        <span class="text-danger mt-2">Indica la puntuación</span>
      }

      <div mat-dialog-actions class="d-flex mt-4 justify-content-between gap-5">
        <button class="cancel-button w-100" mat-button (click)="closeDialog()">Cancelar</button>
        <button class="accept-button w-100" mat-button (click)="rate()">Valorar</button>
      </div>
    </div>
  } @else if (data.method === 'addFriend') {
    <div class="d-flex gap-3 w-100">
      <input placeholder="Buscar..." class="w-75" [(ngModel)]="userName" />
      <button class="green-color d-flex align-items-center" (click)="searchUser()">
        <span>Buscar</span> <mat-icon>search</mat-icon>
      </button>
    </div>

    @if (userList.length > 0) {
      <h3 class="mt-4">Resultados de la busqueda</h3>
      <div class="user-list w-100">
        <ul>
          @for (user of userList; track user.id) {
            <li class="list-group-item mb-2">
              <label class="d-flex align-items-center"
                ><mat-icon>person</mat-icon> <label>{{ user.username }}</label></label
              >
              <button
                class="green-color d-flex align-items-center gap-2"
                (click)="sendFriendRequest(user.id)"
              >
                <span> Enviar solicitud</span>
                <mat-icon>send</mat-icon>
              </button>
            </li>
          }
        </ul>
      </div>
    } @else {
      <h3 class="mt-4">Sin resultados</h3>
    }
  }
</div>
