<div class="d-flex main-container justify-content-center">
  <div class="videogame-container">
    <app-videogame-filter
      (filterVideogameEvent)="searchFilterVideogame($event)"
      (clearVideogames)="clearFilters($event)"
    ></app-videogame-filter>
    @if (loading) {
      <mat-spinner></mat-spinner>
    } @else {
      <app-videogame-list [videogames]="videogames"></app-videogame-list>
      <app-paginator (pageChange)="nextPage($event)" [totalPages]="totalPages"></app-paginator>
    }
  </div>
</div>
