<div class="d-flex main-container justify-content-center">
  <div class="videogame-container">
    <app-videogame-filter
      (filterVideogameEvent)="searchFilterVideogame($event)"
      (clearVideogames)="clearFilters($event)"
    ></app-videogame-filter>
    @if (videogames.length > 0) {
      <app-videogame-list [videogames]="videogames"></app-videogame-list>
    } @else {
      <h1>Ningun videojuego encontrado</h1>
    }

    <app-paginator (pageChange)="nextPage($event)" [totalPages]="totalPages"></app-paginator>
  </div>
</div>
