<div class="videogame-grid">
  <div class="videogame-detail-container">
    <a [routerLink]="[previousPageTarget]" class="previous-link"><mat-icon>arrow_back</mat-icon></a>
    <div class="videogame-header align-items-center gap-3">
      <div class="videogame-image">
        <img src="{{ videogame.imagen }}" />
        <div class="videogames-button-actions">
          <button><mat-icon>watch_later</mat-icon></button>
          <button><mat-icon>sports_esports</mat-icon></button>
          <button><mat-icon>thumb_up</mat-icon></button>
        </div>
      </div>
      <p>{{ videogame.titulo }}</p>
    </div>
    <div class="text-center">
      <div class="videogame-properties">
        <div class="videogame-values">
          <h3>Desarrollador por</h3>
          <p>{{ videogame.desarrolladora }}</p>
        </div>
        <div class="videogame-values">
          <h3>Género</h3>
          <p>{{ genreMap[videogame.genero] }}</p>
        </div>
        <div class="videogame-values">
          <h3>Año de lanzamiento</h3>
          <p>{{ videogame.anoLanzamiento }}</p>
        </div>
      </div>
      <div class="videogame-summary">
        <h3>Sinopsis</h3>
        <p>{{ videogame.resumen }}</p>
      </div>
    </div>
  </div>
</div>
