.friendship-container {
  margin: 3rem 0;
  padding: 20px;
}

.button-grid {
  background-color: #454141;

  button {
    background-color: transparent;
    color: white;
  }
}

.new-color {
  background-color: #231515 !important;
  font-weight: bold;
}
