.container {
  margin: 3rem 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}
